{% extends 'layout.html' %}
{% block content %}




<div class="container">
    <h1>Quiz - Podstawy BHP</h1><br>
        <form action='/Quiz' method="POST" role="form">
            {% for question in form %}
                  <div class="question">
                    <h4>{{ question.label }}</h4>
                  </div><br>
                  <div class = "answer">
                    {{ question }}
                  </div>
            {% endfor %}
            <input type="submit" value = "Prześlij odpowiedzi" />
        </form>
</div>





{% endblock %}